/*
 * Synapse Web DAW style guide
 */


/* =====================================================================
 * button class info (stolen mostly from Bootstrap)
 * =====================================================================
 */

button {
	display: block;
	margin: 0;
	font: inherit;
	color: inherit;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
}
button::-moz-focus-inner{
	padding: 0;
	border: 0;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	height: 50px;
	width: 40px;
	font-size: 14px;
	font-weight: normal;
	/*text-align: center;*/
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 0px solid transparent;
	border-radius: 2px;
}

body {
	background-color: #4A6F81;
}
.btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus {
	text-decoration: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
					box-shadow: none;
	opacity: .65;
}

/* Transport bar buttons */
.btn-transport {
	color: #CFFFFB;
	background-color: transparent;
	padding: 0;
	margin: 0;
	font-size: 24px;
	border-color: transparent;
	line-height: 1.33;
	position: relative;
	left: 10px;
	border-radius: 5px;
}
.btn-transport:hover {
	font-size: 28px;
	background-color: rgba(116, 136, 153, 0.3);
	text-align: center;
}
#btn-play:active {
	color: #4CFF62;
}
#btn-record:active {
	color: red;
}
#btn-pause:active {
	color: yellow;
}
#btn-stop:active {
	color: orange;
}
#btn-back:active {
	color: gray;
}

#transport-button-panel {
	width: 240px;
	height: 50px;
	display: block;
	background-color: #303D3C;
	border-radius: 10px;
	border: 1px solid #CFFFFB;
	position: fixed;
}

